<section class="bg-dark-blue" id="admin-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Admin dashboard</h2>
                <hr class="light">
            </div>
        </div>

        <div class="row dash-buttons">
            <div class="col-xs-6 col-md-3">
                <a routerLink="/uploadxls" routerLinkActive="active" class="thumbnail">
                    <div class="admin-menu-item">Upload XLS</div>
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a routerLink="/variablexls" routerLinkActive="active" class="thumbnail">
                    <div class="admin-menu-item">Tune parsing XLS</div>
                </a>
            </div>            
        </div>

    </div>
</section>