<section class="bg-dark-blue" id="signup">
    <div class="container">
        <div class="row">
            <form class="col-lg-4 col-lg-offset-4">
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="pass">Password:</label>
                    <input type="password" class="form-control" id="pass">
                </div>
                <div class="form-group">
                    <label for="repass">Reenter password:</label>
                    <input type="password" class="form-control" id="repass">
                </div>
                <button type="submit" class="btn btn-default">Sign Up</button>
            </form>
        </div>
    </div>
</section>