<!--<section class="bg-dark-nu" id="about">-->
<section class="bg-dark-blue" id="about">
    <div class="container-fluid">
        <div class="row" id="about-header">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">WHO WE ARE</h2>
                <hr class="light">
                <p class="text-faded">The Resource Nexus is a commercial advisory service that offers access to advanced analytical tools to allow
                    users to better understand the trade-offs of different resource systems pathways under a broad range
                    of scenarios</p>
            </div>
        </div>
<!-- 
        <div class="about-section row">
            <aboutitem></aboutitem>
            <aboutitem></aboutitem>
        </div> -->
    </div>
</section>