<div class="about-item row  col-lg-8 col-lg-offset-2">
    <div class="about-item-picture col-lg-3">
    </div>
    <div class="about-item-text-wrap col-lg-9">
        <h2 class="about-item-text_header">
            John Doe
        </h2>
        <p class="about-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</div>