div .alert.alert-danger{
    margin-top: 3px;
}

#signin-btn {
    float: right;
}

form label {
    color: black;
    font-weight: normal !important;
}

textarea.form-control, input.form-control {
    padding: 17px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: none;
}