#about {
    min-height: 100%;
}

h2 {
    margin-top: 0px;
    font-size: 35px;
    text-transform: uppercase;
}
p {
    font-size: 19px;
}    

form label {
    color: #333;
    font-weight: normal !important;
}

textarea.form-control, input.form-control {
    padding: 17px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0px;
    box-shadow: none;
}

#send-msg-grp {
    float: right;
}