<nav #mainNav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top" routerLink="/home">The resource nexus</a>
		</div>

		<nxs-menu-reg *ngIf="!auth.isLoggedIn()"></nxs-menu-reg>
		<nxs-user *ngIf="auth.isLoggedIn()"></nxs-user>
		
        <nxs-menu></nxs-menu>

	</div>
	<!-- /.container-fluid -->
</nav>