<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a routerLink="/about" routerLinkActive="active" class="menu-item">About us</a>
        </li>
        <li>
            <a routerLink="/services" routerLinkActive="active" class="menu-item">Our services</a>
        </li>
        <li>
            <a routerLink="/publications" routerLinkActive="active" class="menu-item">Publications</a>
        </li>
        <li>
            <a routerLink="/contactus" routerLinkActive="active" class="menu-item">Contact us</a>
        </li>
        <li>
            <a *ngIf="auth.isLoggedIn() && auth.isInRole('Admin')" routerLink="/admin" routerLinkActive="active" class="menu-item">Admin</a>
        </li>        
    </ul>
</div>