<section class="bg-dark-blue" id="service-1">
    <div class="container">
        <div id="comment">
            Select region(s), scenario(s) and variable
        </div>

        <div id="center" class="row">
            <div class="col-lg-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Regions</h3>
                    </div>
                    <div id="regions" class="panel-body">
                        <div class="region" [class.selected]="query.regionId == region.id" *ngFor="let region of regions" (click)="selectRegion(region)">
                            {{region.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Scenarios</h3>
                    </div>
                    <div id="scenarios" class="panel-body">
                        <div class="scenario" [class.selected]="query.scenarioId == scenario.id" *ngFor="let scenario of scenarios" (click)="selectScenario(scenario)">
                            {{scenario.name}}
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Variables</h3>
                    </div>
                    <div id="variables" class="panel-body">

                        <div class="radio variable" [class.selected]="query.variableId == vr.id" *ngFor="let vr of variablesTop" (click)="selectVariable(vr)">
                            {{vr.name}}
                        </div>

                        <accordion id="acc-variables" [showArrows]="true">
                            <accordion-group *ngFor="let vg of variables" heading="{{vg.name}}" [class.selected]="selectedVariable && selectedVariable.group == vg.id"
                                (click)="openVg(vg)">
                                <div class="radio variable" [class.selected]="query.variableId == vr.id" *ngFor="let vr of vg.variables" (click)="selectVariable(vr)">
                                    {{vr.name}}
                                </div>
                            </accordion-group>
                        </accordion>

                        <div class="radio variable" [class.selected]="query.variableId == vr.id" *ngFor="let vr of variablesBottom" (click)="selectVariable(vr)">
                            {{vr.name}}
                        </div>

                    </div>
                </div>

            </div>
            <div id="graph" class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Graph</h3>
                    </div>
                    <div class="panel-body">
                        <div id="c3_line_chart" [chartData]="c3_ChartData" [chartAxis]="c3_axis" [chartOptions]="bubble_ChartOptions" [chartType]="LineChart"
                            c3chart></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer" class="row">
            <div id="key-param" class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Key parameters</h3>
                    </div>
                    <div class="panel-body">

                        <accordion id="acc-keyparam" [showArrows]="true">
                            <accordion-group *ngFor="let kpg of keyParameters | KeyParameterPipe:'Bottom'" heading="{{kpg.name}}">
                                <div class="radio keyparameter" *ngFor="let kp of kpg.keyParameters">
                                    <span class="key-param-name">{{kp.name}}</span>
                                    <span class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
                                        <button type="button" class="btn btn-default btn-keylevel" *ngFor="let kpl of keyParameterLevels" (click)="selectKeyParameter(kp, kpl.id)" [class.selected]="isCurrentKeyParameterSelted(kp.id, kpl.id)" > {{ kpl.name }} </button>
                                    </span>
                                </div>
                            </accordion-group>
                        </accordion>

                        <div class="radio variable keyparameter" *ngFor="let kp of keyParametersBottom">
                            <span class="key-param-name-1">{{kp.name}}</span>
                            <span class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
                                <button type="button" class="btn btn-default btn-keylevel" *ngFor="let kpl of keyParameterLevels" (click)="selectKeyParameter(kp, kpl.id)" [class.selected]="isCurrentKeyParameterSelted(kp.id, kpl.id)" > {{ kpl.name }} </button>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
            
            <div id="query-result" class="col-lg-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Query results</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Region</th>
                                    <th>Scenario</th>
                                    <th>Variable</th>
                                    <th>Key Parameter</th>
                                    <th *ngFor="let year of tableEntities.yearList">{{year}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let entity of tableEntities.entities">
                                    <td>{{entity.region}}</td>
                                    <td>{{ entity.scenario }}</td>
                                    <td>{{ entity.variable }}</td>
                                    <td>{{ entity.keyParameter }}</td>
                                    <td *ngFor="let d of entity.data">{{ d }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>