<header>
	<div class="header-content">
		<div class="header-content-inner">
			<h1 id="homeHeading">The Resource Nexus</h1>
			<hr>
			<p class="cft">Whole system of analysis of energy, meterials, water and other naturl resources. Inform policy and investment decisions
				in these complex resource systems. We do this by providing quantitative insights from modelling tools that address resource
				systems and nexus issues and challenges</p>
			<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
		</div>
	</div>
</header>